*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: linear-gradient(to right,#4ca1af, #c4e0e5);
}

#container{
    width: 35%;
    margin: 10rem auto;
    text-align: center;
}

#main{
    margin-bottom: 3rem;
}

#result{
    font-size: larger;
}

@media (max-width:1250px){
    #container{
        width: 85%;
    }
}